.info-card {
    width: 150px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

label {
    color: tomato;
    font-size: 10px;
    border-bottom: .5px solid tomato;
    margin: 3px 0;
}

.airport-code {
    font-size: 10px;
}