@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Questrial&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.info-card {
  width: 150px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  color: tomato;
  font-size: 10px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.airport-code {
  font-size: 10px;
}
